<!DOCTYPE html>
<html>

<head>
    // Test comment
    // Another test commit
     <title>Weather</title>
     <link rel="icon" href="/img/weather.png">
    <!-- rel is short for 'relationship'
    We can use a relative path (./css/styles.css) 
    or absolute path (/css/styles.css) -->
    <link rel = "stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>
    </div>
    {{>footer}}
</body>

</html>