body {
    color:#333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex; /* Enable flexbox styling */
    flex-direction: column;
    min-height: 100vh; /*vh stands for the viewport height. 100 stands for 100%*/
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom:48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width:250px;
}

.main-content{
    /*Allows an element to grow to take up as much space as is needs*/
    flex-grow: 1; /*1 tells the flex box to take over all of the left over space*/
}